<div class="span9 offset1">
<h2>Credentials</h2>

  <% if @shop.new_record? %>
      <%= form_for @shop, :url => {:action => "create"}, id: 'shop_form' do |f| %>
        <div class="field">
          <%= f.label :login %>
          <%= f.text_field :login %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :automatic_fulfillment %>
          <%= select(:shop, :automatic_fulfillment, options_for_select([[true,true], [false,false]])) %>
        </div>
        <div class="field">
          <%= f.label :submit %>
          <%= f.submit %>
        </div>
      <% end %>

  <% else %>

    <%= form_tag({controller: 'shops', action: 'update'}, {method: 'put', class: 'shop_update_form'}) do %>
        <ul>
          <li>Shipwire Login: <input name="login" value="<%= @shop.login %>" /></li>
          <li>Shipwire Password: <input name="password" value="<%= @shop.password %>" /></li>
          <li>Automatic Fulfillment: <select name="automatic_fulfillment">
            <option><%= @shop.automatic_fulfillment %></option>
            <option><%= !@shop.automatic_fulfillment %></option>
          </select></li>
        </ul>

        <%= submit_tag('Update' , :class => 'btn btn-primary') %>
    <% end %>
  <% end %>
</div>