<%= form_for current_shop, :url => {:action => "update"} do |f| %>
  <div class="field">
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :automatic_fulfillment %>
    <%= select(:shop, :automatic_fulfillment, options_for_select([[true,true], [false,false]])) %>
  </div>
  <div class="field">
    <%= f.label :submit %>
    <%= f.submit %>
  </div>
<% end %>