<div class="span9 offset1">
    <h2>Orders</h2>
    <hr>
    <% if @orders.blank? %>
        <p>There are no orders in your store.</p>
    <% else %>
      <%= form_tag :controller => 'fulfillments', :action => 'create' do %>
      <table class="table table-striped">
        <thead>
          <tr>
            <% if !current_setting.automatically_fulfill? %>
            <th class="sortcol">Fulfill!</th>
            <% end %>
            <th class="sortcol">Order</th>
            <th class="sortcol">Placed by</th>
            <th class="sortcol">Date</th>
            <th class="sortcol">Paid</th>
            <th class="sortcol">Fulfillment</th>
            <th class="sortcol">Total</th>
          </tr>
        </thead>
      <% @orders.each do |order| %>
        <tr id="<%= order.id %>">
          <% if !current_setting.automatically_fulfill? %>
            <% if order.fulfillment_status == "fulfilled" || service_is_not_shipwire?(order) %>
              <td><%= check_box_tag 'shopify_order_ids[]', order.id, false, :class => 'selector', :disabled => true %></td>
            <% else %>
              <td><%= check_box_tag 'shopify_order_ids[]', order.id, false, :class => 'selector', :disabled => false %></td>
            <% end %>
          <% end %>
          <td><%= link_to order.name, "/orders/"+order.id.to_s %></td>
          <td><%= order.billing_address.name %></td>
          <td><%= time_ago_in_words order.created_at.to_s %> ago</td>
          <td>
            <span class="label  <% if order.financial_status  == 'paid' %>label-success<% end %> <% if order.financial_status  == 'refunded' %>label-important<% end %>"><%= order.financial_status %>
            </span>
          </td>
          <td>
            <% if !order.fulfillment_status %>
            <span class="label label-warning">Not Fulfilled</span>
            <% elsif order.fulfillment_status == "partial" %>
            <span class="label">Partially Fulfilled</span>
            <% else %>
            <span class="label label-success">Fulfilled</span>
            <% end %>
          </td>
          <td><%= order.total_price %> <%= order.currency %></td>
        </tr>
      <% end %>
      </table>
      <br />
      <hr>

      <table class="fulfill_submit">
        <tr>
          <td>
            <%= label_tag :shipping_method, 'Shipping Method: ' %>
            <%= select_tag :shipping_method, options_for_select(shipping_options), :id => "shipping_method" %>
          </td>
          <td>
            <%= label_tag :warehouse, 'Warehouse :' %>
            <%= select_tag :warehouse, options_for_select(warehouse_options), :id => 'warehouse' %>
          </td>
          <td>
            <%= submit_tag("Fullfill",:class => "btn btn-success") %>
          </td>
        </tr>
      </table>
    <% end %>
    <br/>
  <div class="span9 offset1">
    <div class="pagination">
      <!-- Stylize with twitter pagination at some point !-->
      <%= will_paginate @orders, :container => false %>
    </div>
  </div>
<% end %>
</div>