 <div class="span9 offset1">
   <h2>Order <%= @order.name %></h2>

      <%= form_tag :controller => 'fulfillments', :action => 'create' do %>
      <table class="table table-striped">
        <thead>
          <tr>
            <% if !current_shop.automatic_fulfillment? %>
            <th>Fulfill</th>
            <% end %>
            <th>Variant</th>
            <th>SKU</th>
            <th>Fulfillment Service</th>
            <th>Requires Shipping</th>
            <th>Fulfillment</th>
            <th>Price</th>
          </tr>
        </thead>
        <% @line_items.each do |item| %>
          <tr>
            <% if !current_shop.automatic_fulfillment? %>
              <td><%= check_box_tag 'line_item_ids[]', item.id, false, :class => 'selector', :disabled => disabled?(item) %></td>
            <% end %>
            <td><%= item.name %></td>
            <td><%= item.sku %></td>
            <td><%= item.fulfillment_service %></td>
            <td><%= item.requires_shipping %></td>
            <td>
              <% if !item.fulfillment_status %>
              <span class="label">Not Fulfilled</span>
              <% else %>
              <span class="label label-success">Fulfilled</span>
              <% end %>
            </td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
        </table>
        <br />

          <% if shipwire_fulfillable?(@order) %>

          <hr>
          <table class="fulfill_submit">
            <tr>
              <td>
                <%= label_tag :shipping_method, 'Shipping Method: ' %>
                <%= select_tag :shipping_method, options_for_select(shipping_options), :id => "shipping_method" %>
              </td>
              <td>
                <%= label_tag :warehouse, 'Warehouse: ' %>
                <%= select_tag :warehouse, options_for_select(warehouse_options), :id => 'warehouse' %>
              </td>
                <%= hidden_field_tag 'shopify_order_id', :value => @order.id %>
              <td>
                <%= submit_tag("Fullfill",:class => "btn btn-success") %>
              </td>
            </tr>
          </table>
          <% end %>
        <% end %>
          <hr>
          <div id='rates_table'>
            <button id="rates_button" class='btn btn-primary' data-order='<%= @order.id %>'>Calculate Shipping Rate</button>
          </div>
        </div> <!-- span8 / right-column -->

<script>
$(document).ready(function(){
  $('#rates_button').click(function(){
    var shopify_order_id = $(this).data('order');
    $.ajax({
      url: "<%= rates_path %>",
      type: "GET",
      data: {shopify_order_id: shopify_order_id}
    });
  });
});
</script>