<div class="span12">
  <h1>Inventory Management</h1>
  <hr>

  <div class="p10">
    Showing all variants managed by
    <ul class="unstyled" style="display:inline-block;">
      <li class="dropdown" id="menu1">
      
        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
          <%= @management.capitalize %>
          <b class="caret"></b>
        </a>
      
        <ul class="dropdown-menu">
          <% other_filters(@management.capitalize).each do |filter, path| %>
            <li><a href="<%= path %>"><%= filter %></a></li>
          <% end %>
        </ul>
      
      </li>
    </ul>
  </div>

<% if @variants.blank? %>

  <p class="well"><em class="muted">Dang, looks there aren't any products managed by <%= @management %> in your store at the moment.</em></p>
  
<% else %>

  <% if @management == 'shopify' || @management == 'none' %>
    <%= form_tag(variant_path, :method => 'get') %>
  <% elsif @management == 'shipwire' %>
    <%= form_tag(variant_path, :method => 'destroy') %>
  <% end %>
  
  <div class="form-actions-holder">
    <div class="well">
      <% if @management == 'shipwire' %>
        <%= submit_tag("Manage with Shopify",:class => "btn btn-primary disabled", :disabled => 'disabled') %>
      <% elsif @management == 'shopify' || 'none' %>
        <%= submit_tag("Manage with Shipwire",:class => "btn btn-primary disabled", :disabled => 'disabled') %>
      <% end %>
  
      <% if @management != 'other' %>
        <a class="btn disabled" data-toggle="modal" href="#myModal">Edit SKUs</a>
      <% end %>
    </div>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <% if @management != 'other' %>
          <th><input id="super_checkbox" type="checkbox"></th>
        <% end %>
        <th>Variant</th>
        <th>Product</th>
        <th>Sku</th>
        <th>Quantity</th>
      </tr>
    </thead>
      <% @variants.each do |variant| %>
        <tr class="inventory_item">
          <% if @management != 'other' %>
            <td><%= check_box_tag 'shopify_variant_ids[]', variant.id, false, :class => 'selector' %></td>
          <% end %>
          <% if @management == 'shipwire' %>
            <td><%= link_to variant.title, variant_path(variant) %></td>
          <% else %>
            <td><%= variant.title %></td>
          <% end %>
          <td><%= variant.product_title %></td>
          <td id="<%= variant.id %>"><%= variant.sku %></td>
          <td><span class="<%= inventory_label(variant.inventory_quantity) %>"><%= variant.inventory_quantity %></span></td>
        </tr>
      <% end %>
  </table>
    
  <% if %w( shipwire shopify none).include? @management %>
    </formm>
  <% end %>
</div>

<!-- PAGINATION  -->
<div class="span12">
  <% if @pages > 1 %>
    <div class="pagination">
      <ul>
        <% if @page > 0 %>
          <li><%= link_to 'Prev', '/variants/filter/'+@management+'/'+(@page-1).to_s %></li>
        <% end %>
        <% @pages.times do |page| %>
          <li class="<%= 'active' if page == @page %>"><%= link_to (page+1).to_s, '/variants/filter/'+@management+'/'+page.to_s %></li>
        <% end %>
        <% if @page < @pages-1 %>
          <li><%= link_to 'Next', '/variants/filter/'+@management+'/'+(@page+1).to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

  <!-- MODAL -->
  <% if @management != 'other' %>
    <div class="modal hide" id="myModal">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Update SKUs</h3>
      </div>
      
      <form action="/variants/update" >
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>Variant</th>
                <th>Product</th>
                <th>Sku</th>
              </tr>
            </thead>
              <% @variants.each do |variant| %>
                <tr class="inventory_item">
                  <% if @management == 'shipwire' %>
                    <td><%= link_to variant.title, variant_path(variant) %></td>
                  <% else %>
                    <td><%= variant.title %></td>
                  <% end %>
                  <td><%= variant.product_title %></td>
                  <td>
                    <div class="<%= variant.id %> control-group">
                      <input data-id="<%= variant.id %>" value="<%= variant.sku %>" type="text" class="variant_sku span3">
                    </div>
                  </td>
                </tr>
              <% end %>
          </table>
        </div>
        
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Close</a>
          <a id="update_skus" href="#" class="btn btn-primary">Save Changes</a>
        </div>
      </form>
      
    </div>
  <% end %>

  <script>
  $(document).ready(function(){
    $('.variant_sku').click(function(){
      $(this).addClass('edited');
    });

    $("#update_skus").click(function(){
      var data = {}
      data['management'] = '<%= @management %>';
      $.each(
        $(".edited"),
        function(){
          data[$(this).data('id')] = $(this).val();
        }
      );

      $.post(
        '<%= variant_update_path %>',
        data
      );

    });
    
    // nasty checkbox js
    var checkboxHeadCount = function(){
      if( $('.selector:checked').length > 0){
        $('.form-actions-holder a, .form-actions-holder input').removeClass('disabled').removeAttr('disabled');
      } else {
        $('.form-actions-holder a, .form-actions-holder input').addClass('disabled').attr('disabled','disabled');
      }
    }

    $('.selector').click(function(){    
      if( $('.selector').length > $('.selector:checked').length && $('.selector:checked').length != 0){
        $('#super_checkbox').prop("indeterminate", true);
      } else {
        $('#super_checkbox').prop("indeterminate", false);
      };

      if( $('.selector').length == $('.selector:checked').length && $('.selector:checked').length > 1){
        $('#super_checkbox').attr('checked',true);
      } else {
        $('#super_checkbox').attr('checked',false);
      };

      checkboxHeadCount();
    });

    $('#super_checkbox').click(function(){
      if ($('#super_checkbox').is(':checked')){
        $('.selector').attr('checked',true);
      } else {
        $('.selector').attr('checked',false);
      }

      checkboxHeadCount();
    });
  });
  </script>

<% end %>