<div class="span9 offset1">
<h2><%= @product_title + ' - ' + @variant.title %></h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Variant</th>
      <th>Sku</th>
      <th>Inventory Quantity</th>
      <th>Inventory Management</th>
    </tr>
  </thead>
      <tr>
        <td><%= @product_title %></td>
        <td><%= @variant.title %></td>
        <td><%= @variant.sku %></td>
        <td><%= @variant.inventory_quantity %></td>
        <td><%= @variant.inventory_management %></td>
      </tr>  
</table>

<%= link_to 'edit', {:controller => 'variants', :action => 'edit', :id => variant.id, :product_title => product.title} %>

</div>