<div class="span9 offset1">
<h2><%= @product_title + ' - ' + @variant.title %></h2>

<%= form_for @variant, :as => :post, :url => {action: 'update', method: 'put'}, :html => {class: 'variant_form'} do |f|%>
<%= hidden_field_tag 'shopify_variant_id', @variant.id %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Variant</th>
      <th>Sku</th>
      <th>Inventory Quantity</th>
      <th>Inventory Management</th>
    </tr>
  </thead>
      <tr>
        <td><%= @product_title %></td>
        <td><%= @variant.title %></td>
        <td><%= f.text_field @variant.sku, {value: @variant.sku} %></td>
        <td><%= @variant.inventory_quantity %></td>
        <% if @variant.inventory_management %>
          <td><input type="submit" class="btn btn-success" value="Manage with Shipwire"/></td>
        <% else %>
          <td><%= link_to "Manage with Other", @variant, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'btn btn-danger' %></td>
        <% end %>
      </tr>
</table>
  <br />
<% end %>

</div>