<div class="span9 offset1">
<h2><%= @product_title + ' - ' + @variant.title %></h2>

<%= form_for @variant, :as => :post, :url => {action: 'create', method: 'post'}, :html => {class: 'variant_form'} do |f|%>
<%= hidden_field_tag 'shopify_variant_id', @variant.id %>
<%= hidden_field_tag 'title', @variant.title %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Variant</th>
      <th>Sku</th>
      <th>Inventory Quantity</th>
      <th>Inventory Management</th>
    </tr>
  </thead>
      <tr>
        <td><%= @product_title %></td>
        <td><%= @variant.title %></td>
        <td><%= f.text_field @variant.sku, {value: @variant.sku} %></td>
        <% if @variant.class == ShopifyAPI::Variant %>
          <td><%= @variant.inventory_quantity %></td>
          <td><input type="submit" class="btn btn-success" value="Manage with Shipwire"/></td>
        <% else %>
          <td><%= @variant.quantity %></td>
          <td><%= link_to "Manage with Shopify", {:path => variant_path(@variant.id)}, {:class => 'btn btn-success', :method => 'delete', :data => {:confirm => 'Are you sure?'}} %></td>
        <% end %>
      </tr>
</table>
  <br />
<% end %>

<% if @variant.class == Variant %>
  <ul class="shipwire_variant_statistics">
    <li>Quantity: <%= @variant.quantity %></li>
    <li>Backordered: <%= @variant.backordered %></li>
    <li>Reserved: <%= @variant.reserved %></li>
    <li>Shipping: <%= @variant.shipping %></li>
    <li>Shipped: <%= @variant.shipped %></li>
    <li>Available Date: <%= @variant.availableDate %></li>
    <li>Shipped Last Day: <%= @variant.shippedLastDay %></li>
    <li>Shipped Last Week: <%= @variant.shippedLastWeek %></li>
    <li>Shipped Last 4 Weeks: <%= @variant.shippedLast4Weeks %></li>
    <li>Ordered Last Day: <%= @variant.orderedLastDay %></li>
    <li>Ordered Last Week: <%= @variant.orderedLastWeek %></li>
    <li>Ordered Last 4 Weeks: <%= @variant.orderedLast4Weeks %></li>
  </ul>
<% end %>
</div>