<% @ids.length.times do |i| %>
  $("td#<%= @ids[i] %>").html("<%= @skus[i] %>");
<% end %>

<% if @failures.empty? %>
  $("#myModal").modal('hide');
<% else %>
  <% @failures.each do |id| %>
    alert("div.<%= id %>");
    $("div.<%= id %>").addClass('warning');
    $("div.<%= id %>").append('<p class="help-inline">Please submit a valid SKU</p>');
  <% end %>
<% end %>