<div class="span9 offset1">
    <h2>Shipwire Fulfillments</h2>
    <hr>

    <% if @fulfillments.blank? %>
        <p>You have not made any fulfillments yet.</p>
    <% else %>

    <table class="table table-striped">
        <thead>
          <tr>
            <th class="sortcol">Fulfillment</th>
            <th class="sortcol">Shipping Service</th>
            <th class="sortcol">Ship Date</th>
            <th class="sortcol">Expected Delivery Date</th>
            <th class="sortcol">Returned</th>
            <th class="sortcol">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @fulfillments.each do |fulfillment| %>
            <% track = fulfillment.tracker %>
            <tr>
                <td><%= track.shipwire_order_id %></td>
                <td><%= track.shipper_name %></td>
                <td><%= track.ship_date %></td>
                <td><%= track.expected_delivery_date%></td>
                <td><%= track.returned %></td>
                <td><%= track.total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>Tracking updates are recieved once a day.</p>
    <% end %>
</div>