<div class="span9 offset1">
    <h2>Shipwire Fulfillments</h2>
    <hr>

    <div id="map_container">
    </div>

    <% if @fulfillments.blank? %>
        <p>You have not made any fulfillments yet.</p>
    <% else %>



    <table class="table table-striped">
        <thead>
          <tr>
            <th class="sortcol">Fulfillment</th>
            <th class="sortcol">Shipping Service</th>
            <th class="sortcol">Ship Date</th>
            <th class="sortcol">Expected Delivery Date</th>
            <th class="sortcol">Returned</th>
            <th class="sortcol">Total</th>
            <th class="sortcol">More Details</th>
          </tr>
        </thead>
        <tbody>
          <% @fulfillments.each do |fulfillment| %>
            <tr>
            <td><%= fulfillment.shipwire_order_id %></td>
            <td><%= fulfillment.shipper_name %></td>
            <td><%= fulfillment.ship_date %></td>
            <td><%= fulfillment.expected_delivery_date%></td>
            <td><%= fulfillment.returned %></td>
            <td><%= fulfillment.total %></td>
            <td><%= link_to 'view', fulfillment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
</div>
<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBXexCR-DS5aW9d4jkj3lZMh5QMT4_1Euc&sensor=false">
</script>
<%= javascript_include_tag "markercluster.js" %>
<script type="text/javascript">
$(document).ready(function(){
  var usLocation = new google.maps.LatLng(37.09024, -95.71289);

  var mapOptions = {
    zoom: 2,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    center: usLocation
  }

  var map = new google.maps.Map(document.getElementById("map_container"), mapOptions);

  var markerClusterer = new MarkerClusterer(map, Array(), {'maxZoom':10});

  var geocoder = new google.maps.Geocoder();
  var Delivery = function(origin, destination, address, shipped, shipperFullName, expectedDeliveryDate, link){
    var self = this;
    var base = 'http://chart.apis.google.com/chart?cht=mm&chs=24x32&';
    var targetImage = base + 'chco=FFFFFF,DD8CFF,000000&ext=.png';
    var sourceImage = base + 'chco=AAFDAA,11BEEE,000333&ext=.png';

    var makeContent = function(){
      return "<ul><li>Address: " + address + "</li><li>Shipped: " + shipped + "</li><li>Shipping Service: " + shipperFullName + "</li><li>Expected Delivery Date: " + expectedDeliveryDate + "</li></ul><a href=" + link + ">view</a>";
    }

    var pinTarget = function(position){
      var marker = new google.maps.Marker({
        position: position,
        map: map,
        icon: targetImage
      });
      markerClusterer.addMarker(marker);
      var infoWindow = new google.maps.InfoWindow({
        content: content,
        disableAutoPan: true,
      });
      infoWindow.open(map, marker);
    }

    var pinSource = function(position){
      var marker = new google.maps.Marker({
        position: position,
        map: map,
        icon: sourceImage
      });
      markerClusterer.addMarker(marker);
    }

    var address = address;
    var shipped = shipped;
    var shipperFullName = shipperFullName;
    var expectedDeliveryDate = expectedDeliveryDate;
    var content = makeContent();
    pinSource(origin);
    pinTarget(destination);

    var path = [origin, destination];

    var route = new google.maps.Polyline({
      path: path,
      strokeColor: '#008000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });

    route.setMap(map);
  }

  <% @fulfillments.select(&:geolocation?).each do |fulfillment| %>
    var origin = new google.maps.LatLng(<%= fulfillment.origin_lat %>, <%= fulfillment.origin_long %>);
    var destination = new google.maps.LatLng(<%= fulfillment.destination_lat.to_s %>, <%= fulfillment.destination_long.to_s %>);
    var address = '<%= fulfillment.order.shipping_address.address1 %>';
    var shipped = '<%= fulfillment.shipped.downcase %>';
    var shipper = '<%= fulfillment.shipper_name %>';
    var expectedDate = '<%= fulfillment.expected_delivery_date %>';
    var linkPath = '<%= fulfillment_path(fulfillment.id) %>';
    new Delivery(origin, destination, address, shipped, shipper, expectedDate, linkPath)
  <% end %>
});
</script>
