<div class="span9 offset1">
    <h2>Shipwire Fulfillments</h2>
    <hr>

    <div id="map_container">
    </div>

    <% if @fulfillments.blank? %>
        <p>You have not made any fulfillments yet.</p>
    <% else %>



    <table class="table table-striped">
        <thead>
          <tr>
            <th class="sortcol">Fulfillment</th>
            <th class="sortcol">Shipping Service</th>
            <th class="sortcol">Ship Date</th>
            <th class="sortcol">Expected Delivery Date</th>
            <th class="sortcol">Returned</th>
            <th class="sortcol">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @fulfillments.each do |fulfillment| %>
            <tr>
            <td><%= fulfillment.shipwire_order_id %></td>
            <td><%= fulfillment.shipper_name %></td>
            <td><%= fulfillment.ship_date %></td>
            <td><%= fulfillment.expected_delivery_date%></td>
            <td><%= fulfillment.returned %></td>
            <td><%= fulfillment.total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
</div>

<%= javascript_include_tag "map" %>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBXexCR-DS5aW9d4jkj3lZMh5QMT4_1Euc&sensor=false" %>
<%= javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" %>