<div class="span9 offset1">
    <h2>Fulfillment: <%= @fulfillment.shipwire_order_id %></h2>
    <hr>

    <h3>Line Items</h3>
    <ul>
      <% @fulfillment.line_items.each do |item| %>
        <li class="items_list"><%= item.title %> - <%= item.quantity %>x</li>
      <% end %>
    </ul>

    <hr />

    <h3>Address</h3>
        <% address = @fulfillment.order.shipping_address %>
        <%= address.address1 %><br />
        <%= address.city %>, <%= address.province %>, <%= address.country %> <%= address.zip %>
    <hr />

    <h3>Tracking</h3>

    <table class="table table-striped">
        <thead>
          <tr>
            <th class="sortcol">Shipwire Order ID</th>
            <th class="sortcol">Shipping Service</th>
            <th class="sortcol">Ship Date</th>
            <th class="sortcol">Expected Delivery Date</th>
            <th class="sortcol">Tracking Carrier</th>
            <th class="sortcol">Tracking Link</th>
            <th class="sortcol">Tracking Number</th>
            <th class="sortcol">Total</th>
            <% if @fulfillment.returned == "YES" %>
            <th class="sortcol">Returned</th>
            <th class="sortcol">Return Date</th>
            <th class="sortcol">Return Condition</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
            <td><%= @fulfillment.shipwire_order_id %></td>
            <td><%= @fulfillment.shipper_name %></td>
            <td><%= time_ago_in_words @fulfillment.ship_date %></td>
            <td><%= time_ago_in_words @fulfillment.expected_delivery_date%></td>
            <td><%= @fulfillment.tracking_carrier %></td>
            <td><%= link_to "Tracking Link", @fulfillment.tracking_link %></td>
            <td><%= @fulfillment.tracking_number %></td>
            <td><%= @fulfillment.total %></td>
            <% if @fulfillment.returned == "YES" %>
            <td><%= @fulfillment.returned %></td>
            <td><%= time_ago_in_words @fulfillment.return_date %></td>
            <td><%= @fulfillment.return_condition %></td>
            <% end %>
        </tbody>
    </table>
    <button class="btn btn-primary">Update</button>
  </div>

