<% track = @fulfillment.tracker %>

<div class="span9 offset1">
    <h2>Fulfillment: <%= track.shipwire_order_id %></h2>
    <hr>

    <h3>Line Items</h3>
    <ul>
      <% @fulfillment.line_items.each do |item| %>
        <li><%= item.title %> - <%= item.quantity %></li>
      <% end %>
    </ul>

    <h3>Tracking</h3>

    <table class="table table-striped">
        <thead>
          <tr>
            <th class="sortcol">Shipwire Order ID</th>
            <th class="sortcol">Shipping Service</th>
            <th class="sortcol">Ship Date</th>
            <th class="sortcol">Expected Delivery Date</th>
            <th class="sortcol">Tracking Carrier</th>
            <th class="sortcol">Tracking Link</th>      
            <th class="sortcol">Tracking Number</th>
            <th class="sortcol">Total</th>
            <% if track.returned == "YES" %>
            <th class="sortcol">Returned</th>
            <th class="sortcol">Return Date</th>
            <th class="sortcol">Return Condition</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
            <td><%= track.shipwire_order_id %></td>
            <td><%= track.shipper_name %></td>
            <td><%= track.ship_date %></td>
            <td><%= track.expected_delivery_date%></td>
            <td><%= track.tracking_carrier %></td>
            <td><%= link_to "Tracking Link", track.tracking_link %></td>
            <td><%= track.tracking_number %></td>
            <td><%= track.total %></td>
            <% if track.returned == "YES" %>
            <td><%= track.returned %></td>
            <td><%= track.return_date %></td>
            <td><%= track.return_condition %></td>
            <% end %>
        </tbody>
    </table>
    <button class="btn btn-primary">Update</button>
  </div>

