<div class="row">
  <div class="span12">
    <h1>Fulfillment #<%= @fulfillment.shipwire_order_id %></h1>
    
    <hr />

    <div id="map_container">
    </div>

    <hr />

    <h3>Line Items</h3>
    <table class="table table-striped">
      <thead>
          
        <tr>
          <th>Title</th>
          <th>Quantity</th>
          <th>SubTotal</th>
        </tr>
      </thead>
      <tbody>
        <% @fulfillment.line_items.each do |item| %>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency item.total %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <hr />

    <h3>Tracking</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="sortcol">Shipwire Order ID</th>
          <th class="sortcol">Created At</th>
          <th class="sortcol">Shipping Service</th>
          <th class="sortcol">Tracking Number</th>
          <% if @fulfillment.returned == "Yes" %>
          <th class="sortcol">Returned</th>
          <th class="sortcol">Return Date</th>
          <th class="sortcol">Return Condition</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <td><%= @fulfillment.shipwire_order_id %></td>
        <td><%= @fulfillment.created_at %></td>
        <td><%= @fulfillment.shipper_name %></td>
        <td><%= tracking_link @fulfillment %></td>
        <% if @fulfillment.returned == "Yes" %>
        <td><%= @fulfillment.returned %></td>
        <td><%= time_ago_in_words @fulfillment.return_date %></td>
        <td><%= @fulfillment.return_condition %></td>
        <% end %>
      </tbody>
    </table>
    <!-- <button class="btn btn-primary">Update</button> -->
  </div>
</div>
